* {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    color: white;
}

.menubar {
    width: 100%; /* Ширина блока */
    background: rgb(191, 191, 191); /* Цвет фона */
    height: 40px;
    display: flex;
    align-items: center
}
.red {
    color: red;
}
.search {
    width: 300px; /* Ширина поля с кнопкой */
    border: 1px solid rgb(63, 63, 63); /* Параметры рамки */
    min-height: 10px; /* Минимальная высота */
    display: flex;
    align-items: center;
    background-color: rgb(63, 63, 63); /* Цвет фона */
}
.search-write {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    font-family: Arial; 
    font-size: 14pt; /* Размер шрифта в пунктах */ 
    background: rgb(63, 63, 63); /* Цвет фона */
}
.search-button{
    width: 16px; /* Ширина кнопки */
    height: 16px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: rgb(63, 63, 63); /* Цвет фона */
    }