html[data-theme='light'] {
    --var1: rgb(191, 191, 191);
    --var2: rgb(150, 150, 150);
    --var3: #ffffff;
    --var4: rgb(200, 200, 200);
    --var5: rgba(200, 200, 200, 0.5);
    --var6: #000000;
    --var7: #0000ff;
    --var8: ;
    --var9: ;
    --var10: ;
    --var11: ;
    --var12: ;
    --var13: ;
    --var14: ;
    --var15: ;
    --var16: ;
}
html[data-theme='dark'] {
    --var1: rgb(63, 63, 63);
    --var2: rgb(45, 45, 45);
    --var3: #111111;
    --var4: rgb(55, 55, 55);
    --var5: rgba(55, 55, 55, 0.5);
    --var6: #ffffff;
    --var7: #007fff;
    --var8: ;
    --var9: ;
    --var10: ;
    --var11: ;
    --var12: ;
    --var13: ;
    --var14: ;
    --var15: ;
    --var16: ;
}
body {
    background-color: var(--var3);
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
button:focus {
    outline: none;
}
input:focus {
    outline: none;
}
p {
  font-family: sans-serif;
  font-size: 1.44em;
  font-weight: 500;
  color: var(--var6);
}
a {
  color: var(--var7);
}
.menubar {
    width: 100%; /* Ширина блока */
    background: var(--var1); /* Для старых браузров */
    background: linear-gradient(to top, var(--var2), var(--var1));
    height: 40px;
    display: flex; /*держит элементы в одну строчку*/
    align-items: center; /*держит элементы по-центру*/
    position: sticky;
    top: 0;
}
.red {
    color: red;
}
.search {
    width: 300px; /* Ширина поля с кнопкой */
    border: 1px solid rgb(127, 127, 127); /* Параметры рамки */
    min-height: 10px; /* Минимальная высота */
    display: flex;
    align-items: center;
    background: var(--var1); /* Цвет фона */
    border-radius: 4px;
    outline: none;
}
input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    font-family: Arial; 
    font-size: 14pt; /* Размер шрифта в пунктах */ 
    background: var(--var1); /* Цвет фона */
}
.search-button{
    width: 28px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: var(--var1); /* Цвет фона */
}
.logo{
    margin-left: 7%;
}
.switch{
    margin-left: 20px;
}
.content{
    margin-top: 5%
}
input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background: rgb(191, 191, 191);
    border-radius: 10px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"]{
    background: rgb(63, 63, 63);
}
input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: rgb(155,0,255);
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"]:before {
    left: 20px;
    background: #00ff00;
}
.window1{
    background-color: var(--var5);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    filter: blur(50px);
}
.button{
    background: linear-gradient(to top, var(--var2), var(--var1));
}
input[type="text"]{
    background: linear-gradient(to top, var(--var2), var(--var1));
}
input[type="password"]{
    background: linear-gradient(to top, var(--var2), var(--var1));
}
